* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand',sans-serif;
}


.header {
    background-image: url('./assets/img/backgr.png');
    background-size: cover;
    background-repeat: no-repeat;
    height : 100vh;
    padding : 40px 0 100px;
}

.container {
    margin: auto;
    width: 1200px;
    padding: 0 20px;
}

.heading {
    display : flex;
    color : #fff;
    justify-content : space-between;
    align-items : center;
}

.heading img {
    border-radius: 50%;
    width: 50px;
}

.heading span {
    font-size : 15px;
    font-weight: 600;
}

.introduce {
    color : #fff;
    margin-top : 100px;
    animation: left-to-right 1s ease;
}

.introduce .title1 {
    color : #ff8001;
    font-size: 14px;
    font-weight : 700;
    letter-spacing: 3px;
}

.introduce .title2 {
    font-size : 40px;
    margin : 25px 0;
}

.introduce .content {
    font-size: 19px;
    line-height : 1.5;
    margin : 15px 0;
    display : block;
}

.introduce .btn {
    background : #fff;
    font-size: 100%;
    padding : 12px 17px;
    font-weight : bold;
    border-radius : 5px;
    letter-spacing : 2px;
    color : #000000;
    border : none;
    transition : 0.5s;
    cursor : pointer;
}

.page {
    padding : 0 20px;
}


.page .container {
    height : 100%;
}

.page .title {
    font-size : 40px;
    font-weight : 700;
    margin : 90px 0 30px 0;
    text-align : center;
}

.page .container .three-list {
    display : flex;
    flex : 1;
}

.page .container .three-list .list {
    text-align: center;
    padding : 30px;
}

.page .container .list .h3-title {
    margin : 20px;
    font-size: 22px;
}

.page .container .list .description {
    font-size: 18px;
    color: #000000b3;
    font-weight: 500;
}

.icon1-img {
    width : 120px;
    height : 120px;

}

.page2 {
    margin : 20px 0 0 0;
}

.box {
    display : flex;
    padding : 0 20px;
    align-items: center;
    animation : left-to-right 1s ease;
}

.box img {
    width : 560px;
    flex : 1
}

.box .information {
    flex : 1;
    padding-left : 60px;
    animation : right-to-left 1s ease;
}

.box .info-title {
    font-size : 30px;
}

.box .info-content {
    font-size: 19px;
    margin: 15px 0;
    display : block;
    color : #000000b3;
    line-height: 1.2;
}

.box .btn {
    background : #292b2c;
    color : #fff;
    font-size: 100%;
    padding : 12px 17px;
    border-radius : 5px;
    border : none;
    font-weight : 600;
    letter-spacing: 1.5px;
    cursor : pointer;
}

.btn:hover {
    background : #ff8001;
    color : #fff;
}

.page3 {
    margin : 100px 0 0 0;
}

.page3 .container {
    padding : 0 20px;
}

.page3 .membership {
    display : flex;
    text-align : center;
}

.page3 .member {
    flex : 1;
    padding : 60px;
    border-radius: 5px;
}

.page3 .member-title {
    font-size : 28px;
    font-weight : 600;
}

.page3 .memmber-price {
    margin : 25px 0;
}

.page3 .memmber-price span {
    font-size : 40px;
}

.page3 .member-feature {
    display : block;
}

.page3 .member-feature p {
    font-size : 18px;
    margin : 15px 0;
    color : #000000b3;
    display : block;
}

.page3 .member .btn {
    background : #292b2c;
    color : #fff;
    font-size: 100%;
    padding : 12px 17px;
    border-radius : 5px;
    border : none;
    font-weight : 600;
    letter-spacing: 1.5px;
    cursor : pointer;
}

.btn:hover {
    background : #ff8001;
    color : #fff;
}


.btn-white {
    background : #fff;
    color : #292b2c;
    font-size: 100%;
    padding : 12px 17px;
    border-radius : 5px;
    border : none;
    font-weight : 600;
    letter-spacing: 1.5px;
    transition : 0.5s;
    cursor : pointer;
}

.btn-white:hover {
    background : #e5dfdf;
    color : #292b2c;
}

.bgr {
    background : #ff8001;
}

.footer {
    margin: 100px;
}

.footer .wrapper {
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.footer img {
    width : 40px;
}

.left-to-right {
    transform : translateX(-150%);
    transition : 1s;
}

.left-to-right.start {
    transform : translateX(0%);
}

.right-to-left {
    transform : translateX(500%);
    transition : 1s;
}

.right-to-left.start {
    transform : translateX(0%);
}

.zoom {
    transform : scale(0);
    transition : 1s;
}

.zoom.start {
    transform : scale(1);
}









